<!DOCTYPE html>
<!DOCTYPE html>
<head>
    <link rel="stylesheet" href= "{{ url_for('static',filename='/styles/display.css') }}">
</head>
<body>
    <ul>
        <li><a href="home">Home</li></a>
        <li><a href="add">Add Book</li></a>
        <li><a href="search">Search Book</li></a>
        <li><a href="remove">Remove Book</li></a>
        <li><a class="active" href="display">Display Books</a></li>
        <li><a href="login">Login</li></a>
        <li><a href="contact">Contact</li></a>   
    </ul>
<div class="container">
        <h3>Qatar Library Mangement System</h3>
    </div>
<div class="Books">
<h2>Book Details:</h2>
</div>
<div>
    <table id="Joke" bgcolor="black" width="700">
        <tr bgcolor="white" align="center">
            <th width="100">Title Of The Book</th>
            <th width="100">Author</th>
            <th width="100">Published Date</th>
        </tr>
        {% for st in st_list %}
        <tr bgcolor="white">
            <td>{{st[0]}}</td>
            <td>{{st[1]}}</td>
            <td>{{st[2]}}</td>
        </tr>
        {% endfor %}
    </table>
</div>
</body>