<!DOCTYPE html>
<html>
<!-- <h1>FORM</h1> -->
<head>
    <link rel="stylesheet" href= "{{ url_for('static',filename='/styles/home.css') }}">
</head>   
<body>
<ul>
    <li><a class="active" href="home">Home</li></a>
    <li><a href="add">Add Book</li></a>
    <li><a href="search">Search Book</li></a>
    <li><a href="remove">Remove Book</li></a>
    <li><a href="display">Display Books</a></li>
    <li><a href="login">Login</li></a>
    <li><a href="contact">Contact</li></a>
</ul>
<div>
    <img src="qnl.png"  alt="qnl">
    <h3>Qatar Library Mangement System</h3>
</div>
</body>
</html>