<!DOCTYPE html>
<head>
    <link rel="stylesheet" href= "{{ url_for('static',filename='/styles/login.css') }}">
</head>
<body>
    <ul>
        <li><a href="home">Home</li></a>
        <li><a href="add">Add Book</li></a>
        <li><a  href="search">Search Book</li></a>
        <li><a href="remove">Remove Book</li></a>
        <li><a href="display">Display Books</a></li>
        <li><a class="active" href="login">Login</li></a>
        <li><a href="contact">Contact</li></a>
        <li><a href="upload">upload</li></a>
    </ul>
<div class="container">
    <h3>Qatar Library Mangement System</h3>
</div>
<div>
        <form action="/login">
        <label >Username</label>
        <input type="text" name="writer" value="" required>
        <label >Password</label>
        <input type="password" name="writer" value="" required>
        <button type="sumbit">Sumbit</button>
        </form>
</div>


</body>