<!DOCTYPE html>
<head>
    <link rel="stylesheet" href= "{{ url_for('static',filename='/styles/search.css') }}">
</head>
<body>
    <ul>
        <li><a href="home">Home</li></a>
        <li><a href="add">Add Book</li></a>
        <li><a class="active" href="search">Search Book</li></a>
        <li><a href="remove">Remove Book</li></a>
        <li><a href="display">Display Books</a></li>
        <li><a href="login">Login</li></a>
        <li><a href="contact">Contact</li></a>
        <li><a href="upload">upload</li></a>   
    </ul>
<div class="container">
    <h3>Qatar Library Management System</h3>
</div>
<p><b>Search Your Desired Book:</b></p>
<div>
    <form action="/search" method="POST">
        <label>TITLE:</label>
        <input type="text" name="book">
        <button type="sumbit">Sumbit</button>
    </form>
</div>
</body>