body {
    margin: 0;
    background-color:blanchedalmond;
  }
ul{
  margin: 0;
  padding: 0;
  width: 200px;
  background-color:wheat;
  position: fixed;
  height: 100%;
  overflow: auto;
}  

li a{   
    display: block;
    color: #000;
    padding: 8px 16px;
    text-decoration: none;
} 
li a.active {
    background-color:sandybrown;
    color:black;
    font-weight:bold
}
li a:hover:not(.active) {
    background-color: #555;
    color:gray;
  }
p{
  color:black; 
  display:flex;
  justify-content:center;
}
div{
    color:black;
    display:flex;
    justify-content:center;
  
}
div.container{
  display:flex;
  justify-content:center;
  background-color:wheat
}